*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.cas{
    background-color:rgb(133, 89, 36);
    padding:20px;
}

.button-grid{
    display:grid;
    grid-template-columns:30% 30% 30%;
    gap:10px;
    margin-top:20px;
}