body{
    color:rgb(70, 45, 11)
    background-color rgb(157, 91, 10);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
img{
    height: 300px;;
    width:400px;
    border-radius: 20px;
}
table{
    border: 1px;
}
tr,th{
    border-radius: 20px;
    gap: 20px;
    padding:auto;
}
video{
    margin:20px;
    padding:40px;

}